.card {
    min-width: 20em;
}

.button {
    height: 100%;
    width: 100%;
    background-color: var(--green-card-background-color) !important;
    border: 4px dashed var(--secondary-green-color) !important;
}

.icon {
    height: 40px;
    width: 40px;
    color: var(--secondary-green-color);
}

@media only screen and (max-width: 600px) {
    .card {
      min-width: 100%;
    }
  }