.card {
    height: 15em;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.205);
    border: 4px dashed var(--secondary-green-color) !important;
}

.icon {
    height: 40px;
    width: 40px;
    color: var(--secondary-green-color);
}
