.root {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3em;
}

.container {
  max-width: 70%;
}

@media only screen and (max-width: 600px) {
  .root {
    display: flex;
    flex-direction: column
  }

  .root > div {
    min-width: 100%;
  }
}
